@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&family=Anton&family=Jura:wght@700&family=Poppins:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&family=Roboto:wght@300&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}
html{
  /* overflow-x: hidden; */
}
body{
  /* width: 100vw; */
  /* overflow-x: hidden; */
  color: #fff;
  background: #36394B;

}
.main{
  /* padding-top: 4.4rem; */
}